h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 16px;
  border-bottom: 0.3px solid rgba(black, 0.3);

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .right {
    gap: 10px;

    .info-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    b { text-transform: capitalize; }

    button {
      color: #fff;
      border: none;
      background-color: lighten(#1976d2, 15%);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: .7em;
      text-transform: uppercase;
      border-radius: 50px;
      font-weight: bold;
      padding: 10px;
      cursor: pointer;
    }
  }
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}
